<template>
  <v-app-bar app color="secondary" clipped-left>

    <v-app-bar-nav-icon @click.stop="flipDrawerState()"></v-app-bar-nav-icon>

    <v-spacer></v-spacer>

    <div class="d-flex align-center">
      {{projectName}}
    </div>
  </v-app-bar>

</template>

<script>
export default {
  name: "Navbar",
  data() {
    return {
      projectName: "DocXProject"
    }
  },
  methods: {
    flipDrawerState() {
      this.$store.commit('flipDrawerState')
    }
  }
}
</script>