<template>
  <v-navigation-drawer app clipped expand-on-hover v-model="$store.state.drawer">

    <v-list dense nav>
      <v-list-item v-for="item in $store.state.navDrawerItems" :key="item.title" link :to="item.route">

        <v-list-item-icon>
          <v-icon>{{ item.icon }}</v-icon>
        </v-list-item-icon>

        <v-list-item-content>
          <v-list-item-title>{{item.title}}</v-list-item-title>
        </v-list-item-content>

      </v-list-item>
    </v-list>
  </v-navigation-drawer>
</template>

<script>
export default {
  name: "NavDrawer"
}
</script>