<template>
  <v-app>

    <Navbar/>

    <NavDrawer/>

    <v-main>
      <router-view></router-view>
    </v-main>

  </v-app>
</template>

<script>
import Navbar from "./view/AppBar";
import NavDrawer from "./view/NavDrawer";

export default {
  name: 'App',

  components: {
    Navbar,
    NavDrawer
  }
};
</script>
